<li class="project">
  <div class="project__wrapper">
    <img
      src={{this.project.image_url}}
      class="project__img"
      width="100%"
      height="100%"
      alt={{this.project.title}}
    />
    <div class="project__description">
      <h3 class="project__description--title">{{this.project.title}}</h3>
      <h4 class="project__description--sub-title">{{this.project.skills}}</h4>
      <p class="project__description--para">{{this.project.description}}</p>
      <div class="project__description--links">
        <a
          href={{this.project.github_repo}}
          rel="noopener noreferrer"
          target="_blank"
          class="project__description--link"
        >
          <img
            alt="github icon"
            src="https://ik.imagekit.io/maysentg/tr:w-100,h-100/github-logo-white.png"
            height="30px"
            width="30px"
            class="icon"
          />
        </a>
        <a
          href={{this.project.live_url}}
          rel="noopener noreferrer"
          target="_blank"
          class="project__description--link"
        >
          <img
            alt="web preview icon"
            src="https://ik.imagekit.io/maysentg/tr:w-100,h-100/website-logo-white.png"
            height="30px"
            width="30px"
            class="icon"
          />
        </a>
      </div>
    </div>
  </div>
</li>
